
.idea/libraries/javafx.xml
.idea/runConfigurations.xml
out/production/Junior-Data-Structur-Project/Data.txt
src/Data.txt
out/production/Junior-Data-Structur-Project/Data.txt
Junior-Data-Structur-Project.iml
